body {
  background: #f3f5f7;
  height: 100%;
}

/* header 样式 */
.header {
  display: flex;
  position: fixed;
  background: #fff;
  line-height: 0.54rem;
  height: 0.54rem;
  z-index: 999;
  width: 100%;

  .header_left {
    width: 0.4rem;
    line-height: 0.26rem;
    text-align: center;
  }

  .logo {
    display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    background: url('~@/assets/logo.png') no-repeat;
    background-size: 0.26rem;
    transform: translateY(0.14rem);
  }

  .back {
    display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    background: transparent !important;
    transform: translateY(0.14rem);
  }

  .title {
    display: inline-block;
    font-size: 0.16rem;
    color: #666;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header_right {
    flex: 1;
  }
}
/*加载数据*/
.load{
  clear: both;
  text-align: center;
  padding-top: 0.1rem;
}
/*没有更多了*/
.noMore{
  text-align: center;
  width: 100%;
  margin: 0.1rem 0;
  color: #23bbff;
  
}
/* 文字过多省略 */
.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 水平居中 */
.center_horizontal {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* 垂直居中 */
.vertical_horizontal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* 定位底部 */
.postion_bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.tab_border {
  border-bottom: 0.02rem solid #f01414;
}
